
.satyam{
  position: relative;
  overflow: hidden;
  padding: 26px;
}
.product-carousel {
  padding: 0 10px;
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  }
  
  .pre-btn,
  .next-btn {
    border: none;
    width: 60px;
    height: auto;
    position: absolute;
    top: 35.5%;
    display: flex;
    background-color: rgba(0, 0, 0, 0);
  }
  
  .next-btn {
    right: 0;
  }
  
  .next-btn h1,
  .pre-btn h1 {
    color: rgb(0, 0, 0);
    cursor: pointer;
  }
  /* ------------------------------ */
  .product-carousel2 {
    padding: 0 10px;
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  }
  
  .pre-btn2,
  .next-btn2 {
    border: none;
    width: 60px;
    height: auto;
    position: absolute;
    top: 28%;
    display: flex;
    background-color: rgba(0, 0, 0, 0);
  }
  
  .next-btn2 {
    right: 0;
  }
  
  .next-btn h1,
  .pre-btn h1 {
    color: rgb(0, 0, 0);
    cursor: pointer;
  }
  /* ------------------------------ */
  
  .product-carousel3 {
  padding: 0 10px;
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  }
  
  .pre-btn3,
  .next-btn3 {
    border: none;
    width: 60px;
    height: auto;
    position: absolute;
    top: 32%;
    display: flex;
    background-color: rgba(0, 0, 0, 0);
  }
  
  .next-btn3 {
    right: 0;
  }
  
  .next-btn h1,
  .pre-btn h1 {
    color: rgb(0, 0, 0);
    cursor: pointer;
  }
  